.return-icon {
  text-decoration: none;
  color: #003559;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.return-icon img {
  width: 32px;
}

.return-icon--container{
  display: inline-block;
}
