.shelf {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .shelf {
    width: 95%;
  }
}

@media (min-width: 600px) {
  .shelf {
    width: 90%;
  }
}

.create-icon {
  position: relative;
  bottom: 1rem;
  left: 1rem;
}
